* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
    font-family: Arial, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background: linear-gradient(180deg, #454444 50%, #e9d45d 50%);
    background-repeat: no-repeat;
    position: relative;
}

.wavyall {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
    transition: all 1s;
    opacity: 1;
    z-index: 10;
}

.wavy {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.wavy span {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%,
    100% {
        transform: translateY(0px);
    }
}

.abcde {
    animation-name: loading;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*      登入表單         */

.dialog {
    width: 100%;
    height: 100vh;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
}

.form {
    display: flex;
    width: 1200px;
    height: 500px;
    margin: 50px auto;
    padding: 50px 0;
    background: #efedda;
    position: relative
}

.wrong {
    position: absolute;
    top: 2px;
    right: 3px;
    z-index: 100;
}

.wrong:hover {
    cursor: pointer;
}

.wrong i {
    font-size: 24px;
}

.form p {
    padding-bottom: 10px;
}

.form a {
    color: #454444;
    font-size: 10px;
}

.form a:hover {
    cursor: pointer;
}

.signin {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createac {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.dialog .icon {
    display: flex;
    padding: 30px 15px;
    justify-content: center;
}

.dialog .icon i {
    font-size: 24px;
    color: #454444;
    border: 1px solid #454444;
    padding: 10px 12px;
    margin: 0 15px;
    border-radius: 50%;
}

.form input {
    width: 200px;
    height: 30px;
    background: #454444;
    margin-top: 30px;
}

.form button {
    width: 100px;
    padding: 5px;
    margin-top: 50px;
    background: #454444;
    color: #e9d45d;
    border-radius: 10px;
}

::placeholder {
    color: #e9d45d;
}

.createac {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form2 {
    width: 600px;
    margin: 50px 160px;
    padding: 50px 0;
    display: flex;
    height: 500px;
    position: relative;
    top: -600px;
}

.signinside {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #454444;
    height: 500px;
    transition: all .5s;
    position: absolute;
    top: 0px;
    left: 0px;
}

.createacside {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #454444;
    height: 500px;
    transition: all .5s;
}

.signinside h2 {
    color: #e9d45d;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 800;
    margin-top: 100px;
}

.signinside p {
    color: #e9d45d;
    font-size: 24px;
    margin-bottom: 50px;
    width: 330px;
    text-align: center;
    line-height: 2;
}

.signinside button {
    width: 100px;
    padding: 5px;
    margin-top: 20px;
    background: #efedda;
    color: #454444;
    border-radius: 10px;
}

.signinbtn {
    position: absolute;
    top: 350px;
}

.signupbtn {
    position: absolute;
    top: 350px;
    z-index: -1;
}

.abs {
    animation-name: gohigh;
    animation-duration: 1s;
}

@keyframes gohigh {
    0% {
        opacity: 0;
        /* transform:scale(0); */
    }
    100% {
        opacity: 1;
        /* transform:scale(1); */
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 第二顆漢堡導覽 */

.nav .fa-user {
    display: none;
}

.bigloginform {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

.loginlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginform {
    width: 400px;
    height: 100vh;
    position: relative;
}

.loginformtxt {
    transition: all 1s;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 650px;
    margin: 0px auto;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 8px 8px 10px #cbced1, -8px -8px 10px #ffffff;
}

.bigloginformicon {
    list-style: none;
    display: flex;
}

.bigloginformicon li i {
    font-size: 36px;
    color: #454444;
    border: 3px solid #e9d45d;
    padding: 5px 10px;
    border-radius: 50%;
    margin: 20px;
}

.loginarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.loginlogo img {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.loginlogo h2 {
    color: #454444;
    margin-bottom: 10px;
}

.loginlogo p {
    margin-bottom: 10px;
}

.wrong2 {
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 24px;
}

.wrong2:hover {
    cursor: pointer;
}

.username {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.username1 {
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid gray;
}

.username input {
    padding: 15px 8px;
    border: none;
    background: transparent;
    outline: none;
}

.username button {
    padding: 15px 8px;
    border: none;
    background: transparent;
}

.password {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.password1 {
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid gray;
}

.password input {
    padding: 15px 8px;
    border: none;
    background: transparent;
    outline: none;
}

.password button {
    padding: 15px 8px;
    border: none;
    background: transparent;
}

.loginbtn {
    cursor: pointer;
    width: 50%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background: #454444;
    color: #ffff;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
    margin-bottom: 10px;
}

.forget {
    display: flex;
    align-self: flex-end;
    font-size: 12px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.forget a {
    text-decoration: none;
    color: #454444;
}

.loginform2 {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: all 1s;
}


/*                   導覽列                   */

header {
    width: 100%;
}

.backc {
    max-width: 100%;
}

.all {
    width: 100%;
}

.img img {
    width: 150px;
    height: 150px;
}

.nav .fa-bars {
    display: none;
}

.backgroundpic {
    width: 100%;
    height: 800px;
    background-image: url(../img/index/2navbackground.jpg);
    background-size: cover;
}

.backgroundblack {
    background: rgba(0, 0, 0, .4);
    height: 100%;
}

.backc {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.nav i {
    color: #e9d45d;
}

.navtxt {
    margin-top: 250px;
    margin-left: 50px;
}

.navtxt h2 {
    font-size: 36px;
    line-height: 2;
    color: #efedda;
}

.navicon {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.navicon i {
    font-size: 32px;
    width: 50px;
    height: 50px;
    color: #efedda;
    transition: all 3s;
    animation-name: navimove;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    /* animation-play-state: running; */
}

@keyframes navimove {
    0% {
        transform: translateY(10px);
    }
    25% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(50px);
    }
}

.navbar {
    position: relative;
}

.fa-bars {
    z-index: 2;
}

.navbar1 {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 65px;
    height: 65px;
    background: #e9d45d;
    border-radius: 50%;
    z-index: -1;
    transition: all 1s;
}

.newnavback {
    position: absolute;
    top: 15px;
    right: -15px;
    z-index: -2;
    transition: all .5s;
    opacity: 0;
    cursor: pointer;
}

.newnavback i {
    color: #454444;
}

.newnav {
    position: absolute;
    top: 3%;
    left: 40%;
    z-index: -2;
    opacity: 0;
    transition: all .5s;
}

.newnav1.active li a {
    opacity: 1;
}

.newnav1 li {
    font-size: 24px;
    margin: 50px 0;
}

.newnav1 li a {
    color: #454444;
    text-decoration: none;
    transform: scale(1);
    transition: all .25s;
    transition-delay: calc(0.2s * var(--i));
    opacity: 0;
}

.newnav1 li i {
    padding-right: 20px;
}

.newnav11 {
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav11:hover {
    transform: scale(1.2);
}

.newnav11:hover span {
    transform: translateX(100%);
}

.newnav11 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}

.newnav12 {
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav12:hover {
    transform: scale(1.2);
}

.newnav12:hover span {
    transform: translateX(100%);
}

.newnav12 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}

.newnav13 {
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav13:hover {
    transform: scale(1.2);
}

.newnav13:hover span {
    transform: translateX(100%);
}

.newnav13 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}

.newnav14 {
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav14:hover {
    transform: scale(1.2);
}

.newnav14:hover span {
    transform: translateX(100%);
}

.newnav14 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}

.newnav15 {
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav15:hover {
    transform: scale(1.2);
}

.newnav15:hover span {
    transform: translateX(100%);
}

.newnav15 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}


/* .logo {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
}

.icon a:nth-child(3) {
    display: none;
}

.icon i:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.icon i {
    display: inline-block;
    font-size: 35px;
     margin: 80px 30px; 
    color: #efedda;
}

.logo img {
    width: 200px;
    height: 200px;
}

.hambar {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 500px;
    border-radius: 0px 0px 0px 5%;
    background: #efedda;
    box-shadow: 5px 2px 10px #454444;
    transition: all 1s;
    display: none;
} */


/* .hambarback {
    font-size: 24px;
    color: #454444;
    margin: 10px;
    cursor: pointer;
}

.hambarnavmove {
    animation-name: hammove;
    animation-duration: 1s;
}

.hambarnavback {
    animation-name: hamback;
    animation-duration: 1s;
}

@keyframes hammove {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hamback {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */


/* .hambartxt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.searchbar {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
}

.searchbar input {
    padding: 5px 20px;
    border: 0;
    background-color: transparent;
}

.searchbar button {
    border: 0;
    background: transparent;
    padding: 0 3px;
}

.hambarul {
    margin-top: 10px;
}

.hambarul li {
    width: 200px;
    margin: 40px 0px;
    border-bottom: 1px solid #454444;
}

.hambarul li a {
    text-decoration: none;
    color: #454444;
    font-size: 20px;
}

.hambarul1 li {
    margin: 30px;
    transition: all 1s;
}

.hambarul1 li i {
    font-size: 28px;
    margin-right: 15px;
    display: none;
     opacity: 0; 


}
.hambarul1 li a {
    font-size: 32px;
    text-decoration: none;
    color: #454444;
}
.hambarul15 li:hover .hambarul1 li i {
    display: block;
}
*/


/* .nav a {
    text-shadow: black .2em .2em .2em;
}

.nav {
    display: flex;
    padding-bottom: 50px;
    width: 1200px;
    margin: 0 auto;
}

.navlist {
    display: flex;
    margin: 0 200px 0 130px;
}

.navlist1 {
    position: relative;
}

.navlist li:hover {
    transform: translatex(-10px);
    transition: all .5s;
}

.nav li {
    margin: 20px 0;
}

.nav li a {
    color: #efedda;
    font-size: 24px;
    line-height: 60px;
    text-decoration: none;
}

.navlist11 {
    width: 300px;
    display: flex;
    position: absolute;
    top: 20px;
    left: -10px;
    opacity: 0;
    transition: opacity .5s;
}

.navlist11 li {
    width: 100px;
}

.navlist1:hover .navlist11 {
    opacity: 1;
}

.navlist li {
    width: 100px;
}

.navlist11 li a {
    font-size: 16px;
    padding: 0 20px;
}

.navlist11 li:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.navlist2 {
    position: relative;
}

.navlist22 {
    width: 250px;
    display: flex;
    position: absolute;
    top: 20px;
    left: -10px;
    opacity: 0;
    transition: opacity .5s;
}

.navlist2:hover .navlist22 {
    opacity: 1;
}

.navlist22 li {
    width: 125px;
}

.navlist22 li:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.navlist22 li a {
    font-size: 16px;
    padding: 0 20px;
}

.navimg {
    display: inline-block;
    width: 800px;
    height: 500px;
}

.navimg video {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
} */


/*                    場館介紹                         */

.studioall {
    background: #252525;
    overflow: hidden;
}

.studio {
    width: 1200px;
    margin: 0px auto;
    padding: 90px 0;
    display: flex;
}

.studio-img {
    transform: translateX(100%);
    transition: all .5s;
    opacity: 0;
}

.studio2 {
    transform: translateX(-100%);
    transition: all .5s;
    opacity: 0;
    width: 350px;
    margin-left: 50px;
}

.studio21 {
    transform: translateX(0%);
    opacity: 1;
    margin-right: 10px;
    /* display: flex;
    flex-direction: column; */
}

.studio-img {
    width: 100%;
    /* height: 500px;   */
    display: flex;
    flex-wrap: wrap;
}

.gym1 {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 260px;
    margin: 30px 15px;
}

.gym2 {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 260px;
    margin: 30px 15px;
}

.gym3 {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 260px;
    margin: 30px 15px;
}

.gym4 {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 260px;
    margin: 30px 15px;
}

.gym5 {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 260px;
    margin: 30px 15px;
}

.gym6 {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 260px;
    margin: 30px 15px;
}

.gym1 img {
    border: 1px solid white;
    margin: 5px;
    width: 250px;
    height: 250px;
}

.gym2 img {
    border: 1px solid white;
    margin: 5px;
    width: 250px;
    height: 250px;
}

.gym3 img {
    border: 1px solid white;
    margin: 5px;
    width: 250px;
    height: 250px;
}

.gym4 img {
    border: 1px solid white;
    margin: 5px;
    width: 250px;
    height: 250px;
}

.gym5 img {
    border: 1px solid white;
    margin: 5px;
    width: 250px;
    height: 250px;
}

.gym6 img {
    border: 1px solid white;
    margin: 5px;
    width: 250px;
    height: 250px;
}


/* gym1 border亮邊 */

.p1 {
    position: absolute;
    bottom: 0px;
    left: 8px;
    font-size: 8px;
    /* font-weight: 700; */
    color: #e9d45d;
    opacity: 0;
    transform: translateY(0px);
    transition: all 1s;
}

.gym1:hover .p1 {
    transform: translateY(-10px);
    opacity: 1;
}

.gym1 span {
    position: absolute;
    display: block;
}

.gym1:hover .g1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #e9d45d);
    animation: alternate1 1s linear 1;
}

@keyframes alternate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.gym1:hover .g2 {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF9900);
    animation: alternate2 1s linear 1;
    animation-delay: .3s;
}

@keyframes alternate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.gym1:hover .g3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #FF9900);
    animation: alternate3 1s linear 1;
    animation-delay: .6s;
}

@keyframes alternate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.gym1:hover .g4 {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF9900);
    animation: alternate4 1s linear 1;
    animation-delay: .9s;
}

@keyframes alternate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


/* gym2 border亮邊 */

.p2 {
    position: absolute;
    bottom: 0px;
    left: 8px;
    font-size: 8px;
    font-weight: 700;
    color: #efedda;
    opacity: 0;
    transform: translateY(0px);
    transition: all 1s;
}

.gym2:hover .p2 {
    transform: translateY(-10px);
    opacity: 1;
}

.gym2 span {
    position: absolute;
    display: block;
}

.gym2:hover .g1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #e9d45d);
    animation: alternate1 1s linear 1;
}

@keyframes alternate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.gym2:hover .g2 {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF9900);
    animation: alternate2 1s linear 1;
    animation-delay: .3s;
}

@keyframes alternate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.gym2:hover .g3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #FF9900);
    animation: alternate3 1s linear 1;
    animation-delay: .6s;
}

@keyframes alternate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.gym2:hover .g4 {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF9900);
    animation: alternate4 1s linear 1;
    animation-delay: .9s;
}

@keyframes alternate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


/* gym3 border亮邊 */

.p3 {
    position: absolute;
    bottom: 0px;
    left: 8px;
    font-size: 8px;
    font-weight: 700;
    color: #e9d45d;
    opacity: 0;
    transform: translateY(0px);
    transition: all 1s;
}

.gym3:hover .p3 {
    transform: translateY(-10px);
    opacity: 1;
}

.gym3 span {
    position: absolute;
    display: block;
}

.gym3:hover .g1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #e9d45d);
    animation: alternate1 1s linear 1;
}

@keyframes alternate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.gym3:hover .g2 {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF9900);
    animation: alternate2 1s linear 1;
    animation-delay: .3s;
}

@keyframes alternate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.gym3:hover .g3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #FF9900);
    animation: alternate3 1s linear 1;
    animation-delay: .6s;
}

@keyframes alternate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.gym3:hover .g4 {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF9900);
    animation: alternate4 1s linear 1;
    animation-delay: .9s;
}

@keyframes alternate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


/* gym4 border亮邊 */

.p4 {
    position: absolute;
    bottom: 0px;
    left: 8px;
    font-size: 8px;
    font-weight: 700;
    color: #e9d45d;
    opacity: 0;
    transform: translateY(0px);
    transition: all 1s;
}

.gym4:hover .p4 {
    transform: translateY(-10px);
    opacity: 1;
}

.gym4 span {
    position: absolute;
    display: block;
}

.gym4:hover .g1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #e9d45d);
    animation: alternate1 1s linear 1;
}

@keyframes alternate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.gym4:hover .g2 {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF9900);
    animation: alternate2 1s linear 1;
    animation-delay: .3s;
}

@keyframes alternate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.gym4:hover .g3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #FF9900);
    animation: alternate3 1s linear 1;
    animation-delay: .6s;
}

@keyframes alternate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.gym4:hover .g4 {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF9900);
    animation: alternate4 1s linear 1;
    animation-delay: .9s;
}

@keyframes alternate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


/* gym5 border亮邊 */

.p5 {
    position: absolute;
    bottom: 0px;
    left: 8px;
    font-size: 8px;
    font-weight: 700;
    color: #efedda;
    opacity: 0;
    transform: translateY(0px);
    transition: all 1s;
}

.gym5:hover .p5 {
    transform: translateY(-10px);
    opacity: 1;
}

.gym5 span {
    position: absolute;
    display: block;
}

.gym5:hover .g1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #e9d45d);
    animation: alternate1 1s linear 1;
}

@keyframes alternate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.gym5:hover .g2 {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF9900);
    animation: alternate2 1s linear 1;
    animation-delay: .3s;
}

@keyframes alternate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.gym5:hover .g3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #FF9900);
    animation: alternate3 1s linear 1;
    animation-delay: .6s;
}

@keyframes alternate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.gym5:hover .g4 {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF9900);
    animation: alternate4 1s linear 1;
    animation-delay: .9s;
}

@keyframes alternate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


/* gym6 border亮邊 */

.p6 {
    position: absolute;
    bottom: 0px;
    left: 8px;
    font-size: 8px;
    font-weight: 700;
    color: #e9d45d;
    opacity: 0;
    transform: translateY(0px);
    transition: all 1s;
}

.gym6:hover .p6 {
    transform: translateY(-10px);
    opacity: 1;
}

.gym6 span {
    position: absolute;
    display: block;
}

.gym6:hover .g1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #e9d45d);
    animation: alternate1 1s linear 1;
}

@keyframes alternate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.gym6:hover .g2 {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF9900);
    animation: alternate2 1s linear 1;
    animation-delay: .3s;
}

@keyframes alternate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.gym6:hover .g3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #FF9900);
    animation: alternate3 1s linear 1;
    animation-delay: .6s;
}

@keyframes alternate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.gym6:hover .g4 {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF9900);
    animation: alternate4 1s linear 1;
    animation-delay: .9s;
}

@keyframes alternate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


/* .gym1 img {
    border: 1px solid white;
    margin: 10px;
    width: 240px;
    height: 350px;
}

.gym2 img {
    border: 1px solid white;
    margin: 10px;
    width: 350px;
    height: 350px;
}

.gym3 img {
    border: 1px solid white;
    margin: 10px;
    width: 330px;
    height: 250px;
}

.gym4 img {
    border: 1px solid white;
    margin: 10px;
    width: 270px;
    height: 250px;
} */


/* .studioall:hover .studio2{
    transform: translateX(0%);
    opacity: 1;
} */

.studio2 h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0 50px 0;
    color: #efedda;
}

.studio2 li {
    width: 400px;
}

.studio2 li i {
    margin: 10px;
    font-size: 30px;
    color: #efedda;
}

.studio2 li {
    color: #e9d45d;
}

.studio2 p {
    margin: 20px 0;
    line-height: 30px;
    color: #e9d45d;
    font-size: 16px;
}

.studiobtn {
    margin-top: 50px;
    margin-left: 75px;
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #e9d45d;
    color: #454444;
    transition: all 1s;
}

.studiobtn:hover {
    cursor: pointer;
    background-color: #454444;
    color: #e9d45d;
    box-shadow: 0 0 5px #e9d45d, 0 0 25px #e9d45d, 0 0 50px #e9d45d, 0 0 250px #e9d45d;
}


/*               課程預約                          */

.ourclass {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}

.ourclass h2 {
    font-size: 50px;
    font-weight: 800;
    color: #e9d45d;
    padding-left: 10px;
    padding-bottom: 20px;
}

.aa {
    color: #454444;
    padding-left: 20px;
}

.ourclass p {
    font-size: 16px;
    font-weight: 500;
    color: #efedda;
}

.bb {
    color: #454444;
}


/*                  課程預約(翻牌)               */

.container {
    width: 100%;
    height: 800px;
    background-image: url(../img/index/ourclass2.jpg);
    background-size: cover;
}

.container1 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.classlist {
    width: 1200px;
    height: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    border-radius: 3px;
    padding-top: 30px;
}

.gray {
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    /* background-color: #efedda; */
    padding-top: 30px;
}

.strcard {
    width: 400px;
    height: 400px;
    margin: 0 20px;
    position: relative;
}

.strcard1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    background: #efedda;
    backface-visibility: hidden;
    transition: all 1s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(253, 248, 248, 0.25), 0 5px 5px rgba(241, 223, 223, 0.22);
}

.strcard1 p {
    text-align: center;
    /* line-height: 2; */
    padding: 30px 0;
    font-size: 24px;
    font-weight: 500;
}

.strcard:hover .strcard1 {
    transform: rotateY(180deg);
    background: #efedda;
}

.strcard2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: all 1s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(253, 248, 248, 0.25), 0 5px 5px rgba(241, 223, 223, 0.22);
}

.strcard2 h2 {
    font-size: 24px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.strcard2 p {
    line-height: 2;
    font-size: 16px;
}

.strcard:hover .strcard2 {
    transform: rotateY(0deg);
    background: #efedda;
}

.yogacard {
    width: 400px;
    height: 400px;
    margin: 0 20px;
    position: relative;
}

.yogacard {
    position: relative;
}

.yogacard1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efedda;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: all 1s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(253, 248, 248, 0.25), 0 5px 5px rgba(241, 223, 223, 0.22);
}

.yogacard1 p {
    text-align: center;
    /* line-height: 2; */
    font-size: 24px;
    font-weight: 500;
    padding: 30px 0;
}

.yogacard:hover .yogacard1 {
    transform: rotateY(180deg);
    background: #efedda;
}

.yogacard2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transition: all 1s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(253, 248, 248, 0.25), 0 5px 5px rgba(241, 223, 223, 0.22);
}

.yogacard2 h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

.yogacard2 p {
    line-height: 2;
    font-size: 16px;
}

.yogacard:hover .yogacard2 {
    transform: rotateY(0deg);
    background: #efedda;
}

.relaxcard {
    width: 400px;
    height: 400px;
    margin: 0 20px;
    position: relative;
}

.relaxcard1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #efedda;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: all 1s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(253, 248, 248, 0.25), 0 5px 5px rgba(241, 223, 223, 0.22);
}

.relaxcard:hover .relaxcard1 {
    transform: rotateY(180deg);
    background: #efedda;
}

.relaxcard2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transition: all 1s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(253, 248, 248, 0.25), 0 5px 5px rgba(241, 223, 223, 0.22);
}

.relaxcard:hover .relaxcard2 {
    transform: rotateY(0deg);
    background: #efedda;
}

.relaxcard1 p {
    text-align: center;
    /* line-height: 2; */
    padding: 30px 0;
    font-size: 24px;
    font-weight: 500;
}

.relaxcard2 h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

.relaxcard2 p {
    line-height: 2;
    font-size: 16px;
}

.classlist img {
    width: 100%;
    height: 300px;
}

.classlist p {
    text-align: center;
    padding: 15px;
    color: #454444;
}

.reser {
    position: relative;
    top: 130px;
}

.reser a {
    text-decoration: none;
    color: #e9d45d;
    background: #454444;
    padding: 10px;
    border-radius: 10px;
}

.reser:hover {
    transform: scale(1.1);
    transition: all 1s;
}


/*              會員評價                   */

.feedback {
    width: 1200px;
    margin: 50px auto;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    /* background: linear-gradient(0deg,rgb(194, 192, 192),rgb(238, 234, 234)); */
    background: #efedda;
}

.feedback-title h2 {
    font-size: 30px;
    padding-bottom: 35px;
    font-weight: 700;
}

.feedback-title p {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 35px;
    color: gray;
}

.feedback-txt {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feedbackitem {
    width: 550px;
    height: 200px;
    display: flex;
    margin: 20px;
    /* box-shadow:2px 2px 2px .3px rgb(143, 141, 141); */
    align-items: center;
    background: #efedda;
}

.feedbackitem:hover {
    /* transform: scale(1.05);
    background:rgb(240, 199, 152) ; */
    box-shadow: 6px 6px 14px 0 rgb(0 0 0 / 20%), -8px -8px 18px 0 hsl(0deg 0% 100% / 55%);
    transition: all .5s;
}

.feedbackitem img {
    display: block;
    width: 200px;
    height: 150px;
    padding: 0 20px;
}

.feedbackitem h2 {
    margin-bottom: 20px;
}

.feedbackitem p {
    margin-top: 20px;
}

.ts {
    position: relative;
    left: 120px;
    bottom: 10px;
    font-size: 13px;
}

.ce {
    position: relative;
    left: 120px;
    bottom: 10px;
    font-size: 13px;
}

.lb {
    position: relative;
    left: 120px;
    bottom: 10px;
    font-size: 13px;
}

.sc {
    position: relative;
    left: 120px;
    bottom: 10px;
    font-size: 13px;
}


/*              產品                       */

section {
    width: 1200px;
    height: 350px;
    margin: 100px auto 100px auto;
    display: flex;
}

.sup {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0px);
    transition: .5s;
    /* padding: 200px; */
    position: relative;
}

.sup img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.content1 {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}


/* .sup:hover{
    transform: translateY(-30px);
} */

.sup:hover .content1 {
    opacity: 1;
}

.sup h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.sup input {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(241, 133, 31, 1);
    cursor: pointer;
    width: 120px;
}

.gear {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0px);
    transition: .5s;
    position: relative;
}

.gear img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.content2 {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    transition: opacity .5s;
}

.gear h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.gear input {
    padding: 5px;
    border-radius: 5px;
    background: rgba(241, 133, 31, 1);
    cursor: pointer;
    width: 120px;
}

.gear:hover .content2 {
    opacity: 1;
}


/* .gear:hover{
    transform: translateY(-30px);
} */


/*      結尾           */

footer {
    width: 100%;
    padding: 50px 0;
    background: #000000;
}

.foter {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infor {
    width: 25%;
    height: 200px;
    text-align: center;
}

.inforlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inforlist li {
    padding: 10px;
}

.foter h4 {
    margin-bottom: 30px;
}

.foter h4 a {
    color: rgb(250, 202, 46);
    font-size: 24px;
    text-decoration: none;
}

.inforlist li a {
    text-decoration: none;
    color: white;
}

.shop {
    width: 25%;
    height: 200px;
    text-align: center;
}

.shoplist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoplist1 {
    padding: 10px;
}

.shoplist li a {
    text-decoration: none;
    color: white;
}

.member {
    width: 25%;
    height: 200px;
    text-align: center;
}

.memlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memlist1 {
    padding: 10px;
}

.memlist li a {
    color: white;
    text-decoration: none;
}

.contact {
    width: 25%;
    height: 200px;
    text-align: center;
}

.conlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conlist input {
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
}

.conlist button {
    width: 100px;
    height: 25px;
    background: #454444;
    color: #e9d45d;
}

footer p {
    text-align: center;
    color: rgb(202, 202, 202);
    padding-top: 15px;
}

.last a {
    text-decoration: none;
    color: rgb(202, 202, 202);
}

.last1 a {
    text-decoration: none;
    color: rgb(202, 202, 202);
    padding: 0 10px;
}

.foter li a {
    display: block;
    width: 110px;
}

.qs {
    font-size: 12px;
}


/* RWD */

@media screen and (max-width:575px) {
    .header {
        width: 100%;
    }
    body {
        background: linear-gradient(180deg, #454444 40%, #e9d45d 50%);
    }
    .all {
        max-width: 100%;
    }
    .nav {
        width: 200px;
    }
    .nav li {
        display: none;
    }
    .nav a i {
        color: #e9d45d;
        font-size: 18px;
    }
    .nav .fa-bars {
        display: block;
    }
    .backgroundpic {
        background-position-x: -360px;
    }
    .nav a i {
        padding: 20px;
        font-size: 24px;
    }
    .navtxt {
        margin-left: 40px;
    }
    .navtxt h2 {
        font-size: 20px;
    }
    .newnav {
        position: absolute;
        top: 3%;
        left: 30%;
        z-index: -2;
        opacity: 0;
        transition: all .5s;
    }
    .studio {
        width: 100%;
        flex-direction: column;
        padding-top: 30px;
    }
    .studio2 {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .studio2 h2 {
        font-size: 24px;
    }
    .studio2 p {
        font-size: 10px;
    }
    .studio2 button {
        margin: 0;
        padding: 5px 2px;
    }
    .gym1 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym2 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym3 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym4 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym5 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym6 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym1 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym2 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym3 img {
        margin: 5px;
        width: 190px;
        height: 200px;
    }
    .gym4 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym5 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym6 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .p1 {
        font-size: 6px;
    }
    .p2 {
        font-size: 6px;
    }
    .p3 {
        font-size: 6px;
    }
    .p4 {
        font-size: 6px;
    }
    .p5 {
        font-size: 6px;
    }
    .p6 {
        font-size: 6px;
    }
    .studio-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        height: 480px;
    }
    .ourclass {
        width: 100%;
        padding: 0;
        height: 100px;
    }
    .ourclass h2 {
        padding: 30px 0;
        margin: 0;
    }
    .ourclass p {
        display: none;
    }
    .classlist {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
    }
    .strcard {
        height: 250px;
    }
    .strcard1 p {
        font-size: 16px;
    }
    .strcard1 img {
        display: block;
        width: 100%;
        height: 200px;
    }
    .strcard2 h2 {
        font-size: 16px;
    }
    .strcard2 p {
        font-size: 6px;
        line-height: 1.2;
    }
    .yogacard {
        height: 250px;
    }
    .yogacard1 p {
        font-size: 16px;
    }
    .yogacard1 img {
        display: block;
        width: 100%;
        height: 200px;
    }
    .yogacard2 h2 {
        font-size: 16px;
    }
    .yogacard2 p {
        font-size: 6px;
        line-height: 1.2;
    }
    .relaxcard {
        height: 250px;
    }
    .relaxcard1 p {
        font-size: 16px;
    }
    .relaxcard1 img {
        display: block;
        width: 100%;
        height: 200px;
    }
    .relaxcard2 h2 {
        font-size: 16px;
    }
    .relaxcard2 p {
        font-size: 6px;
        line-height: 1.2;
    }
    .gray {
        width: 100%;
        margin: 0;
    }
    .reser {
        top: 0px;
    }
    .feedback {
        width: 100%;
        padding-bottom: 0px;
    }
    .feedbackitem {
        width: 430px;
    }
    .feedbackitem p {
        font-size: 12px;
    }
    .feedback-title p {
        font-size: 14px;
    }
    .ts {
        left: 0px;
    }
    .ts p {
        font-size: 16px;
    }
    .ce {
        left: 0px;
    }
    .lb {
        left: 0px;
    }
    .sc {
        left: 0px;
    }
    section {
        width: 100%;
    }
    .content1 {
        opacity: 1;
    }
    .content2 {
        opacity: 1;
    }
    .foter {
        margin: 0 auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .infor {
        width: 120px;
    }
    .shop {
        width: 120px;
    }
    .member {
        width: 120px;
    }
    .contact {
        width: 170px;
    }
    .foter h4 a {
        font-size: 16px;
    }
    .foter ul li a {
        font-size: 12px;
    }
    .conlist input {
        width: 120px;
        height: 20px;
    }
    .last p {
        font-size: 10px;
    }
    .memlist1 a {
        width: 50px;
    }
    .nav .fa-user {
        display: block;
    }
    .nav .fa-user-circle {
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .header {
        width: 100%;
    }
    body {
        background: linear-gradient(180deg, #454444 40%, #e9d45d 50%);
    }
    .all {
        max-width: 100%;
    }
    .nav {
        width: 200px;
    }
    .nav>li {
        display: none;
    }
    .nav a i {
        color: #e9d45d;
        font-size: 18px;
    }
    .nav .fa-bars {
        display: block;
    }
    .backgroundpic {
        background-position-x: -360px;
    }
    .nav a i {
        padding: 20px;
        font-size: 24px;
    }
    .navtxt {
        margin-left: 40px;
    }
    .navtxt h2 {
        font-size: 20px;
    }
    .studio {
        width: 100%;
        flex-direction: column;
        padding-top: 30px;
    }
    .studio2 {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .studio2 h2 {
        font-size: 24px;
    }
    .studio2 p {
        font-size: 10px;
    }
    .studio2 button {
        margin: 0;
        padding: 5px 2px;
    }
    .gym1 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym2 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym3 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym4 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym5 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym6 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym1 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym2 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym3 img {
        margin: 5px;
        width: 190px;
        height: 200px;
    }
    .gym4 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym5 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym6 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .p1 {
        font-size: 6px;
    }
    .p2 {
        font-size: 6px;
    }
    .p3 {
        font-size: 6px;
    }
    .p4 {
        font-size: 6px;
    }
    .p5 {
        font-size: 6px;
    }
    .p6 {
        font-size: 6px;
    }
    .studio-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        height: 480px;
    }
    .ourclass {
        width: 100%;
        padding: 0;
        height: 100px;
    }
    .ourclass h2 {
        padding: 30px 0;
        margin: 0;
    }
    .ourclass p {
        display: none;
    }
    .classlist {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
    }
    .strcard {
        height: 250px;
    }
    .strcard1 img {
        display: block;
        width: 100%;
        height: 200px;
    }
    .strcard2 h2 {
        font-size: 16px;
    }
    .strcard2 p {
        font-size: 8px;
        line-height: 1.5;
    }
    .yogacard {
        height: 250px;
    }
    .yogacard1 img {
        display: block;
        width: 100%;
        height: 192px;
    }
    .yogacard2 h2 {
        font-size: 16px;
    }
    .yogacard2 p {
        font-size: 8px;
        line-height: 1.5;
    }
    .relaxcard {
        height: 250px;
    }
    .relaxcard1 img {
        display: block;
        width: 100%;
        height: 192px;
    }
    .relaxcard2 h2 {
        font-size: 16px;
    }
    .relaxcard2 p {
        font-size: 8px;
        line-height: 1.5;
    }
    .gray {
        width: 100%;
        margin: 0;
    }
    .reser {
        top: 0px;
    }
    .feedback {
        width: 100%;
        padding-bottom: 0px;
    }
    .feedbackitem {
        width: 430px;
    }
    .feedbackitem p {
        font-size: 12px;
    }
    .ts {
        left: 0px;
    }
    .ts p {
        font-size: 16px;
    }
    .ce {
        left: 0px;
    }
    .lb {
        left: 0px;
    }
    .sc {
        left: 0px;
    }
    section {
        width: 100%;
    }
    .content1 {
        opacity: 1;
    }
    .content2 {
        opacity: 1;
    }
    .foter h4 a {
        font-size: 16px;
    }
    .foter ul li a {
        font-size: 12px;
    }
    .conlist input {
        width: 120px;
        height: 20px;
    }
    .last p {
        font-size: 10px;
    }
    .nav .fa-user {
        display: block;
    }
    .nav .fa-user-circle {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    header {
        width: 100%;
    }
    .backgroundpic {
        background-position-x: -350px;
    }
    .all {
        max-width: 100%;
    }
    .nav li a {
        font-size: 18px;
        padding: 0 10px;
    }
    .navlist11 li a {
        font-size: 14px;
    }
    .navlist22 li a {
        font-size: 14px;
    }
    .nav a i {
        padding: 20px;
        font-size: 24px;
    }
    .navtxt h2 {
        font-size: 24px;
    }
    .studio {
        width: 100%;
    }
    .studio2 {
        width: 35%;
        margin-left: 30px;
    }
    .studio2 h2 {
        font-size: 36px;
    }
    .studio2 p {
        font-size: 16px;
    }
    .studio2 button {
        margin-left: 40px;
    }
    .gym1 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym2 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym3 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym4 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym5 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym6 {
        width: 200px;
        height: 200px;
        margin: 30px 15px;
    }
    .gym1 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym2 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym3 img {
        margin: 5px;
        width: 190px;
        height: 200px;
    }
    .gym4 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym5 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .gym6 img {
        margin: 5px;
        width: 190px;
        height: 190px;
    }
    .p1 {
        font-size: 6px;
    }
    .p2 {
        font-size: 6px;
    }
    .p3 {
        font-size: 6px;
    }
    .p4 {
        font-size: 6px;
    }
    .p5 {
        font-size: 6px;
    }
    .p6 {
        font-size: 6px;
    }
    .studio-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        height: 550px;
    }
    .ourclass {
        width: 100%;
        padding: 0;
        height: 100px;
    }
    .ourclass h2 {
        padding: 30px 0;
        margin: 0;
    }
    .ourclass p {
        display: none;
    }
    .classlist {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        /* background-image: url(../img/newbanner.jpg);
        background-size: cover; */
    }
    .strcard {
        height: 350px;
    }
    .yogacard {
        height: 350px;
    }
    .relaxcard {
        height: 350px;
    }
    .gray {
        width: 100%;
        margin: 0;
    }
    .reser {
        top: 20px;
    }
    .feedback {
        width: 100%;
        padding-bottom: 0px;
    }
    .feedbackitem {
        width: 430px;
    }
    .feedbackitem p {
        font-size: 12px;
    }
    .ts {
        left: 0px;
    }
    .ts p {
        font-size: 16px;
    }
    .ce {
        left: 0px;
    }
    .lb {
        left: 0px;
    }
    .sc {
        left: 0px;
    }
    section {
        width: 100%;
    }
    .content1 {
        opacity: 1;
    }
    .content2 {
        opacity: 1;
    }
    .foter h4 a {
        font-size: 18px;
    }
    .foter ul li a {
        font-size: 14px;
    }
    .conlist input {
        width: 120px;
        height: 20px;
    }
    .last p {
        font-size: 10px;
    }
    .nav .fa-user {
        display: block;
    }
    .nav .fa-user-circle {
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    header {
        width: 100%;
    }
    .backgroundpic {
        background-position-x: -200px;
    }
    .all {
        max-width: 100%;
    }
    .nav li a {
        font-size: 20px;
        padding: 0 20px;
    }
    .navlist11 li a {
        font-size: 14px;
    }
    .navlist22 li a {
        font-size: 14px;
    }
    .nav a i {
        padding: 20px;
        font-size: 24px;
    }
    .navtxt h2 {
        font-size: 28px;
    }
    .studio {
        width: 100%;
    }
    .studio2 {
        width: 35%;
    }
    .studio2 h2 {
        font-size: 36px;
    }
    .studio2 p {
        font-size: 16px;
    }
    .studio2 button {
        margin-left: 50px;
    }
    .studio-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        height: 600px;
    }
    .ourclass {
        width: 100%;
        padding: 0;
        height: 100px;
    }
    .ourclass h2 {
        padding: 30px 0;
        margin: 0;
    }
    .ourclass p {
        display: none;
    }
    .classlist {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        /* background-image: url(../img/newbanner.jpg);
        background-size: cover; */
    }
    .gray {
        width: 100%;
        margin: 0;
    }
    .reser {
        top: 80px;
    }
    .feedback {
        width: 100%;
        padding-bottom: 0px;
    }
    .feedbackitem {
        width: 430px;
    }
    .feedbackitem p {
        font-size: 12px;
    }
    .ts {
        left: 0px;
    }
    .ts p {
        font-size: 16px;
    }
    .ce {
        left: 0px;
    }
    .lb {
        left: 0px;
    }
    .sc {
        left: 0px;
    }
    section {
        width: 100%;
    }
    .content1 {
        opacity: 1;
    }
    .content2 {
        opacity: 1;
    }
    .foter h4 a {
        font-size: 20px;
    }
    .foter ul li a {
        font-size: 16px;
    }
    .conlist input {
        width: 150px;
        height: 30px;
    }
    .last p {
        font-size: 12px;
    }
    .nav .fa-user {
        display: block;
    }
    .nav .fa-user-circle {
        display: none;
    }
}


/* header {
    width: 100%;
}

.nav {
    width: 100%;
}

.navimg {
    width: 100%;
    height: 350px;
}

.studio {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.studio2 {
    margin-right: 100px;
}

.studio2 h2 {
    font-size: 32px;
}

.studio2 p {
    font-size: 16px;
}

.studio2 ul i {
    font-size: 12px;
}

.ourclass {
    width: 100%;
}

.studio-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.gym1 img {
    width: 250px;
    height: 250px;
}

.gym2 img {
    width: 250px;
    height: 250px;
}

.gym3 img {
    width: 250px;
    height: 250px;
}

.gym4 img {
    width: 250px;
    height: 250px;
}

.ourclass h2 {
    color: #efedda;
}

.aa {
    color: #efedda;
}

.ourclass {
    margin-top: 50px;
    height: 150px;
}

.ourclass p {
    color: #454444;
    font-size: 12px;
    width: 80%;
    margin: 0 auto;
    display: none;
}

.classlist {
    width: 100%;
}

.gray {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: transparent;
}

.feedback-txt h2 {
    font-size: 16px;
}

.ts {
    width: 80px;
    margin: 0;
    font-size: 5px;
    left: 0px;
}

.ce {
    width: 80px;
    margin: 0;
    font-size: 5px;
    left: 0px;
}

.lb {
    width: 80px;
    margin: 0;
    font-size: 5px;
    left: 0px;
}

.sc {
    width: 80px;
    margin: 0;
    font-size: 5px;
    left: 0px;
}

.feedback-txt p {
    font-size: 10px;
}

.feedback {
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.sup {
    width: 100%;
    height: 300px;
}

.gear {
    width: 100%;
    height: 300px;
}

.foter {
    margin-top: 200px;
}

.foter h4 a {
    font-size: 16px;
}

.foter ul li a {
    font-size: 8px;
}

.conlist input {
    width: 110px;
    height: 20px;
}

.last p {
    font-size: 10px;
} */