* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
    font-family: Arial, sans-serif;
}

.qs {
    font-size: 12px;
}


/*                    跑馬燈                    */

body {
    background: linear-gradient(90deg, #454444 50%, #e9d45d 50%);
}


/*      登入表單         */

.dialog {
    width: 100%;
    height: 100vh;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
}

.form {
    display: flex;
    width: 1200px;
    height: 500px;
    margin: 50px auto;
    padding: 50px 0;
    background: #efedda;
    position: relative
}

.wrong {
    position: absolute;
    top: 2px;
    right: 3px;
    z-index: 100;
}

.wrong:hover {
    cursor: pointer;
}

.wrong i {
    font-size: 24px;
}

.form p {
    padding-bottom: 10px;
    /* padding-left: 120px; */
}

.form a {
    /* text-decoration: none; */
    color: #454444;
    font-size: 10px;
}

.form a:hover {
    cursor: pointer;
}

.signin {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createac {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.dialog .icon {
    display: flex;
    padding: 30px 15px;
    justify-content: center;
}

.dialog .icon i {
    font-size: 24px;
    color: #454444;
    border: 1px solid #454444;
    padding: 10px 12px;
    margin: 0 15px;
    border-radius: 50%;
}

.form input {
    width: 200px;
    height: 30px;
    background: #454444;
    margin-top: 30px;
}

.form button {
    width: 100px;
    padding: 5px;
    margin-top: 50px;
    background: #454444;
    color: #e9d45d;
    border-radius: 10px;
}

::placeholder {
    color: #e9d45d;
}

.createac {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form2 {
    width: 600px;
    margin: 50px 160px;
    padding: 50px 0;
    display: flex;
    height: 500px;
    position: relative;
    top: -600px;
}

.signinside {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #454444;
    height: 500px;
    transition: all .5s;
    position: absolute;
    top: 0px;
    left: 0px;
}

.createacside {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #454444;
    height: 500px;
    transition: all .5s;
}

.signinside h2 {
    color: #e9d45d;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 800;
    margin-top: 100px;
}

.signinside p {
    color: #e9d45d;
    font-size: 24px;
    margin-bottom: 50px;
    width: 330px;
    text-align: center;
    line-height: 2;
}

.signinside button {
    width: 100px;
    padding: 5px;
    margin-top: 20px;
    background: #efedda;
    color: #454444;
    border-radius: 10px;
}

.signinbtn {
    position: absolute;
    top: 350px;
}

.signupbtn {
    position: absolute;
    top: 350px;
    z-index: -1;
}

.abs {
    animation-name: gohigh;
    animation-duration: 1s;
}

@keyframes gohigh {
    0% {
        opacity: 0;
        /* transform:scale(0); */
    }
    100% {
        opacity: 1;
        /* transform:scale(1); */
    }
}


/*                   導覽列                   */

.all {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav li {
    transition: all 1s;
}

.nav li:hover {
    transform: translateY(-10px);
}

.nav li a {
    text-decoration: none;
    color: #efedda;
    font-size: 23px;
    padding: 15px 30px;
}

.img img {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.nav i {
    font-size: 30px;
    padding: 0 30px 9px 34px;
    color: #454444;
}

.navlist1 {
    position: relative;
}

.navlist11 {
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    transition: all .5s;
}

.navlist11 li {
    padding: 10px 0;
}

.navlist11 li a {
    font-size: 18px;
}

.navlist11 li:hover {
    transform: scale(1.2);
}

.navlist1:hover .navlist11 {
    opacity: 1;
}

.navlist2 {
    position: relative;
}

.navlist22 {
    position: absolute;
    top: 32px;
    left: 0;
    display: none;
    transition: all .5s;
}

.navlist22 li {
    padding: 15px 0;
}

.navlist22 li:hover {
    transform: scale(1.2);
}

.navlist22 li a {
    font-size: 18px;
}

.navlist2:hover .navlist22 {
    display: block;
}

.nav a i {
    transition: all .5s;
}

.nav a i:hover {
    transform: scale(1.2);
}

.hambar {
    display: none;
}

html {
    overflow-x: hidden;
}


/* .hambar {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 500px;
    border-radius: 0px 0px 0px 5%;
    background: #efedda;
    box-shadow: 5px 2px 10px #454444;
    transition: all 1s;
    display: none;
}

.hambarback {
    font-size: 24px;
    color: #454444;
    margin: 10px;
    cursor: pointer;
}

.hambarnavmove {
    animation-name: hammove;
    animation-duration: 1s;
    z-index: 2;
    position: fixed;
}

.hambarnavback {
    animation-name: hamback;
    animation-duration: 1s;
}

@keyframes hammove {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hamback {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hambartxt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.searchbar {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
}

.searchbar input {
    padding: 5px 20px;
    border: 0;
    background-color: transparent;
}

.searchbar button {
    border: 0;
    background: transparent;
    padding: 0 3px;
}

.hambarul {
    margin-top: 10px;
}

.hambarul li {
    width: 200px;
    margin: 40px 0px;
    border-bottom: 1px solid #454444;
}

.hambarul li a {
    text-decoration: none;
    color: #454444;
    font-size: 20px;
} */


/*      結尾           */

footer {
    width: 100%;
    padding: 50px;
    background: #000000;
}

.foter {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infor {
    width: 25%;
    height: 200px;
    text-align: center;
}

.inforlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inforlist li {
    padding: 10px;
}

.foter h4 {
    margin-bottom: 30px;
}

.foter h4 a {
    color: rgb(250, 202, 46);
    font-size: 24px;
    text-decoration: none;
}

.inforlist li a {
    text-decoration: none;
    color: white;
}

.shop {
    width: 25%;
    height: 200px;
    text-align: center;
}

.shoplist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoplist1 {
    padding: 10px;
}

.shoplist li a {
    text-decoration: none;
    color: white;
}

.member {
    width: 25%;
    height: 200px;
    text-align: center;
}

.memlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memlist1 {
    padding: 10px;
}

.memlist li a {
    color: white;
    text-decoration: none;
}

.contact {
    width: 25%;
    height: 200px;
    text-align: center;
}

.conlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conlist input {
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
}

.conlist button {
    width: 100px;
    height: 25px;
    background: #454444;
    color: #e9d45d;
}

footer p {
    text-align: center;
    color: rgb(202, 202, 202);
    padding-top: 15px;
}

.last a {
    text-decoration: none;
    color: rgb(202, 202, 202);
}

.last1 a {
    text-decoration: none;
    color: rgb(202, 202, 202);
    padding: 0 10px;
}

.foter li a {
    display: block;
    width: 200px;
}


/*漢堡導覽列 */

.navbar {
    position: relative;
}

.fa-bars {
    z-index: 2;
}

.navbar1 {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 65px;
    height: 65px;
    background: #e9d45d;
    border-radius: 50%;
    z-index: -1;
    transition: all 1s;
    opacity: 0;
}

.newnavback {
    position: absolute;
    top: 15px;
    right: -15px;
    z-index: -2;
    transition: all .5s;
    opacity: 0;
    cursor: pointer;
}

.newnavback i {
    color: #454444;
}

.newnav {
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: -2;
    opacity: 0;
    transition: all .5s;
}

.newnav1 li {
    font-size: 24px;
    margin: 50px 0;
}

.newnav1 li i {
    padding-right: 20px;
}

.newnav1 li a {
    color: #454444;
    text-decoration: none;
    transform: scale(1);
}

.newnav11 {
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav11:hover {
    transform: scale(1.2);
}

.newnav11:hover span {
    transform: translateX(100%);
}

.newnav11 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}

.newnav12 {
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav12:hover {
    transform: scale(1.2);
}

.newnav12:hover span {
    transform: translateX(100%);
}

.newnav12 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}

.newnav13 {
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav13:hover {
    transform: scale(1.2);
}

.newnav13:hover span {
    transform: translateX(100%);
}

.newnav13 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}

.newnav14 {
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav14:hover {
    transform: scale(1.2);
}

.newnav14:hover span {
    transform: translateX(100%);
}

.newnav14 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}

.newnav15 {
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.newnav15:hover {
    transform: scale(1.2);
}

.newnav15:hover span {
    transform: translateX(100%);
}

.newnav15 span {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #252525);
    transform: translateX(0%);
    transition: all .5s;
}

@media screen and (max-width:575px) {
    .newnav {
        position: absolute;
        top: 20%;
        left: 30%;
        z-index: -2;
        opacity: 0;
        transition: all .5s;
    }
}